body{
  background-color: #0d1117;
  text-align: center;
  font-family: "Lucida Console", "New Roman", monospace;
}

h1{
  font-size: 50px;
  color:white;
}

label{
  font-size: 50px;
  color:white;
}

div{
  font-size: 50px;
  color:white;
}


@media only screen and (max-width: 500px) {
  body {
  max-width: 100%;
  font-size: 50px;
  }
}
